body {
  margin: 0px;
  background-color: #303030;
}
nav {
  position: fixed;
  width: 100vw;
  background-color: #303030;
  color: grey;
  border-bottom: whitesmoke solid 2px;
  display: flex;
  justify-content: space-between;
}
.navbar_input {
  display: flex;
  align-items: center;
  padding: 20px;
}
.navbar_principal {
  display: flex;
  z-index: 1;
}
.navbar_principal ul {
  list-style: none;
  display: flex;
  align-items: center;
}
h2 {
  color: aliceblue;
  align-self: center;
  margin-left: 15px;
}
a {
  text-decoration: none;
  color: gray;
}
a:hover {
  color: aliceblue;
}
li {
  margin-right: 15px;
}
input.nav_search {
  border-radius: 5px;
  padding: 10px;
  border-width: 0px;
  margin-right: 15px;
}
input.bnt_search {
  color: green;
  height: 35px;
  width: 10vw;
  border-radius: 5px;
  border-color: green;
  border-width: 1px;
  background-color: transparent;
  border-style: solid;
}
button:hover {
  color: white;
  border-color: white;
  background-color: green;
}
@media all and (max-width: 768px) {
  .navbar_principal ul {
    position: absolute;
    top: 60px;
    left: 50px;
    display: block;
  }
  .navbar_principal li {
    font-size: larger;
    width: 100%;
    border-bottom: 1px white solid;
    text-align: center;
  }
  .nav_icon {
    margin-left: 20px;
    width: 40px;
    padding-top: 10px;
  }
  .nav_icon span {
    height: 1px;
    background-color: white;
    position: relative;
    display: block;
    margin-top: 12px;
  }
}
